<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #superior {
            background-color: rgb(0, 0, 197);
            height: 65px;
            
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #controle {
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 30px;
        }

        body {
            background-color: rgb(18, 18, 235);
        }

        #titulo-das-tabelas {
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 25px;
        }
        #bloco {
            background-color: rgb(0, 0, 197);
            width: 80dvw;
            /* height: 500px; */
            border-radius: 20px;
            padding: 10px 0px 0px 10px;
            /* margin: 10px 0px 10px 0px; */
            margin: 100px auto 100px;
            padding: 0px 20px 20px 20px;
        }

        #corpo-principal {
            /* background-color: red; */
            /* width: 90dvw; */
        }

        /* aqui é uma adaptação de telas menores, quando a tela
        chegar em 430px, essas configurações vão acontecer (max-width: 430px;) 
        isso eu digo que quando a tela chegar em 430px; */
        @media (max-width: 430px) {
            /* 430px */
            #superior {
                background-color: blue;
            }

            button {
                width: 10px;
                height: 10px;
            }


            th {
                text-align: center;
                padding: 3px;
                border: 2px solid black;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 10px;
                color: white;
                background-color: blue;
            }

            td {
                text-align: center;
                padding: 3px;
                border: 2px solid black;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 10px;
                color: white;
                background-color: rgb(0, 0, 154);
            }


        }



        button {
            border: none;
            width: 30px;
            height: 30px;
            border-radius: 20px;

        }

        button:hover {
            background-color: blue;
        }

        #aba-funcionario {
            margin: 0 auto;
            background-color: rgb(0, 0, 201);
            /* width: 70dvw; */
            /* margin-top: -110px; */
            border-radius: 10px;
            display: none;
            
        }

        input {
            /* width: 50dvw; */
            border: none;
            height: 25px;
            margin-bottom: 10px;
            border-radius: 6px;

        }

        select {
            height: 25px;
            margin-bottom: 10px;
            border-radius: 6px;
            border: none;
            width: 170px;
        }

        #excluir_funcionario:hover {
            background-color: red;
            color: white;
        }

        .excluir:hover {
            background-color: red;
            color:white;
        }

        .adicionar:hover {
            background-color: blue;
            color: white;
        }

        .alterar:hover {
            color: black;
            background-color:blanchedalmond;
        }

        table {
            background-color: white;
            width: 80dvw;
            border-collapse: collapse;
            margin-top: 20px;
            border-radius: 5px;
        }

        th {
            text-align: center;
            padding: 3px;
            border: 2px solid black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 14px;
            color: white;
            background-color: blue;
        }

        td {
            text-align: center;
            padding: 3px;
            border: 2px solid black;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 14px;
            color: white;
            background-color: rgb(0, 0, 154);
        }

        #n0 {
            background-color: red;
        }

        #n1 {
            background-color: rgb(0, 191, 0);
        }

        #div-da-foto {
            background-color: grey;
            padding-left: 15px;
            padding-top: 15px;
            padding-bottom: 10px;
            border-radius: 10px;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        #div-da-foto-foto {
            background-color: red;
            width: 300px;
            height: 300px;
            margin-bottom: 10px;
            border-radius: 10px;
        }


        #div-da-foto-id {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
        }

        #div-da-foto-legenda {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
        }

        #baixar {
            width: 50px;
            height: 50px;
            border-radius: 5px;
            margin: 0px 2px 5px 0px;
            background-color: rgb(234, 234, 234);
        }

        #baixar:hover {
            width: 50px;
            height: 50px;
            border-radius: 5px;
            margin: 0px 2px 5px 0px;
            background-color: rgb(59, 59, 59);
        }

        #excluir {
            width: 50px;
            height: 50px;
            border-radius: 5px;
            margin: 0px 2px 5px 0px;
            background-color: rgb(234, 234, 234);
        }

        #excluir:hover {
            width: 50px;
            height: 50px;
            border-radius: 5px;
            margin: 0px 2px 5px 0px;
            background-color: rgb(59, 59, 59);
        }

        

    </style>
</head>
<body>
    <div id="superior">
        <div id="controle">Sala de Controle</div>
    </div>

    <div id="corpo-principal">

        <div id="bloco">
            <p id="titulo-das-tabelas">Funcionários
                <button onmouseover="adicionarFuncionario()" style="background-color: rgb(0, 255, 136);" id="adicionar-funcionario" class="botoes-das-tabelas">+</button>
                <button onmouseover="excluirFuncionario()" style="background-color: red;" id="excluir-funcionario" class="botoes-das-tabelas">x</button>
                <button onmouseover="alterarRegistro()" id="alterar-funcionario" class="botoes-das-tabelas">!!</button>

                <select name="" id="ordenartabelafuncionario">
                    <option value="id_funcionario">--Selecione--</option>
                    <option value="id_funcionario">ID</option>
                    <option value="nome">Nome</option>
                    <option value="senha">Senha</option>
                    <option value="cpf">CPF</option>
                    <option value="funcao">Função</option>
                </select>

                <br>
            </p>

            <div>
                <table>
                    <tr>
                        <th onclick="ordeid()">id</th>
                        <th>Nome</th>
                        <th onclick="ordesenha()">Senha</th>
                        <th onclick="ordecpf()">CPF</th>
                        <th onclick="ordefuncao()">Função</th>
                    </tr>
                    <tbody id="tbodyfuncionarios">

                    </tbody>
                </table><br>
            </div>

            


            <div id="aba-funcionario">
                
                <p style="
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: white;
                font-size: 20px;
                margin: 0px 0px 10px 0px;
                    ">Adicionar funcionário</p>
                <input type="text" name="" id="inputnome" placeholder="  Nome..">
                <br>
                <input type="text" name="" id="inputsenha" placeholder="  Senha..">
                <br>
                <input type="number" name="" id="inputcpf" placeholder="  CPF...">
                <br>

                <select name="" id="inputfuncao">
                    <option value="">Nenhum desses</option>
                    <option value="eletrica">Elétrica</option>
                    <option value="mecanica">Mecânica</option>
                    <option value="pintura">Pintura</option>
                    <option value="telhado">Telhado</option>
                    <option value="seguranca">Téc. de Segurança</option>
                    <option value="administrativo">Área administrativa</option>
                    <option value="adm">MASTER</option>
                </select>
                <br>
                <button 
                style="
                border-radius: 5px;
                width: 170px;
                margin-bottom: 10px;
                " id="funcionario" onclick="ok()">ADICIONAR</button>
                <br>

                <p style="
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: rgb(255, 156, 156);
                font-size: 17px;
                display: none;
                " id="campovazio">Todos os campos são obrigatórios...</p>
            </div>
        </div>


        <div id="aba-excluir-funcionario" 
        style="
        display: none;
        margin: 0 auto;
        background-color: rgb(255, 101, 101);
        margin-top: -110px;
        width: 70dvw;
        border-radius: 5px;
        padding: 5px;
         ">

            <p style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            font-size: 20px;
            margin: 0px 0px 10px 0px;
                ">Excluir Funcionário</p>
            <input type="text" name="" id="inputid" placeholder="  Digite o ID do registro...">
            <br>
            
            <button 
            style="
            border-radius: 5px;
            width: 170px;
            margin-bottom: 10px;
            " id="excluir_funcionario" onclick="botaoexcluirFuncionario()">Deletar Registro</button>
            <br>

            <p style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            font-size: 17px;
            display: none;
            " id="campovazioid">O campo ID é obrigatório para identificação...</p>
        </div>




        <div id="aba-alterar-funcionario" style="
        display: none;
        margin: 0 auto;
        margin-top: -110px;
        width: 70dvw;
        border-radius: 5px;
        padding: 5px;
        background-color: burlywood;">

            <p style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            font-size: 20px;
            margin: 0px 0px 10px 0px;
                ">Modificar dados do usuário</p>
                
            <input type="number" name="" id="inputidmodificar" placeholder="  Digite o ID">
            <br>
            <input type="text" name="" id="inputnomemodificar" placeholder="  Nome..">
            <br>
            <input type="text" name="" id="inputsenhamodificar" placeholder="  Senha..">
            <br>
            <input type="number" name="" id="inputcpfmodificar" placeholder="  CPF...">
            <br>

            <select name="" id="inputfuncaomodificar">
                <option value="">Nenhum desses</option>
                <option value="eletrica">Elétrica</option>
                <option value="mecanica">Mecânica</option>
                <option value="pintura">Pintura</option>
                <option value="telhado">Telhado</option>
                <option value="seguranca">Téc. de Segurança</option>
                <option value="administrativo">Área administrativa</option>
                <option value="adm">MASTER</option>
            </select>

            <br>
            <button 
            style="
            border-radius: 5px;
            width: 170px;
            margin-bottom: 10px;
            " id="funcionariomodificar" class="alterar" onclick="alterar()">ALTERAR</button>
            <br>

            <p style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            font-size: 17px;
            display: none;
            " id="campovaziomodificar">Sem o ID não conseguimos identificar...</p>
        </div>


        <div id="bloco">
            <p id="titulo-das-tabelas">Atividades
                <button onmouseover="adicionaratividades()" style="background-color: rgb(0, 255, 136);" id="adicionar-atividades" class="botoes-das-tabelas">+</button>
                <button onmouseover="excluiratividades()" style="background-color: red;" id="excluir-atividades" class="botoes-das-tabelas">x</button>
                <button onmouseover="alteraratividades()" id="alterar-atividades" class="botoes-das-tabelas">!!</button>
                <!-- <br> -->
            
                <select name="" id="ordenartabelaatividades">
                    <option value="id_atividade">--Selecione--</option>
                    <option value="tipo_de_servico">Serviço</option>
                    <option value="descricao">Descrição</option>
                    <option value="quem">Pessoas</option>
                    <option value="armazenna">Armazenna</option>
                    <option value="empresa">Cliente</option>
                    <option value="data">Data</option>
                    <option value="STATUS">Status</option>
                </select>
                <br>
            </p>
            
            

            <div>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Serviço</th>
                        <th>Descrição</th>
                        <th>Quem</th>
                        <th>Armazenna</th>
                        <th>Cliente</th>
                        <th>Data</th>
                        <th>Status</th>
                    </tr>
                    <tbody id="tbodyatividades">
                    </tbody>
                </table>
            </div>
            

            <!-- área de adicionar -->
        <div id="aba-atividades" style="display: none;">

            <p style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            font-size: 20px;
            margin: 0px 0px 10px 0px;
                ">Adicionar Atividades</p>

            <!-- <input type="text" name="" id="inputTipodeServico" placeholder="  Tipo de Serviço.."> -->
             <select name="" id="selectTipodeServico" style="
             width: 160px;">
                <option value="">TIPO DE SERVIÇO</option>
                <option value="MECÂNICA">Mecânica</option>
                <option value="ELETRICA">Elétrica</option>
                <option value="PINTURA">Pintura</option>
                <option value="TELHADO">Telhado</option>
                <option value="RELATÓRIO">Relatório</option>
                <option value="MONTAGEM">Montagem</option>
                <!-- ADICIONAR NO PAPÉL essa categoria (MONTAGEM) -->
             </select>
            <br>

            <input type="text" name="" id="inputdescricaoDeAtividade" placeholder="  Descrição..">
            <br>
            <input type="text" name="" id="inputQuem" placeholder="  Quem??...">
            <br>

            <select name="" id="selectArmazenna?" style="width: 160px;">
                <option value="">Armazenna ??</option>
                <option value="A-01">Armazenna 01</option>
                <option value="A-02">Armazenna 02</option>
                <option value="A-03">Armazenna 03</option>
                <option value="A-04">Armazenna 04</option>
                <option value="A-05">Armazenna 05</option>
                <option value="A-06">Armazenna 06</option>
            </select>
            <br>
            <input type="text" name="" id="inputEmpresa" placeholder="  Empresa...">
            <br>
            <!-- STATUS -->
             <input type="date" name="" id="inputDATA" style="width: 160px;">
            <br>
            <button 
            style="
            border-radius: 5px;
            width: 170px;
            margin-bottom: 10px;
            " id="atividades" class="adicionar" onclick="dados_da_atividade()">ADICIONAR</button>
            <br>

            <p style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            font-size: 17px;
            display: none;
            " id="campovazioAtividade">Todos os campos são obrigatórios...</p>
        </div>
            <br>
        </div>

        <div id="aba-excluir-atividade" 
        style="
        display: none;
        margin: 0 auto;
        background-color: rgb(255, 101, 101);
        margin-top: -110px;
        width: 70dvw;
        border-radius: 5px;
        padding: 5px;
         ">

            <p style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            font-size: 20px;
            margin: 0px 0px 10px 0px;
                ">Excluir Atividade</p>
            <input type="text" name="" id="inputIdAtividade" placeholder="  Digite o ID da atividade...">
            <br>
            
            <button 
            style="
            border-radius: 5px;
            width: 170px;
            margin-bottom: 10px;
            " id="excluir_atividade" class="excluir" onclick="excluindoAtividade()">Deletar Atividade</button>
            <br>

            <p style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            font-size: 17px;
            display: none;
            " id="recado_excluir_atividade">O campo ID é obrigatório para identificação...</p>
        </div>


        <div id="aba-alterar-atividade" style="
        display: none;
        margin: 0 auto;
        margin-top: -110px;
        width: 70dvw;
        border-radius: 5px;
        padding: 5px;
        background-color: burlywood;">

            <p style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            font-size: 20px;
            margin: 0px 0px 10px 0px;
                ">Modificar a Atividade</p>
                
            <input type="number" name="" id="inputAlterarID" placeholder="  Digite o ID">
            <br>
            <select name="" id="alterarTipodeservico" style="
            width: 165px;
            ">
                <option value="">TIPO DE SERVIÇO</option>
                <option value="MECÂNICA">Mecânica</option>
                <option value="ELÉTRICA">Elétrica</option>
                <option value="PINTURA">Pintura</option>
                <option value="TELHADO">Telhado</option>
                <option value="RELATÓRIO">Relatório</option>
                <option value="MONTAGEM">Montagem</option>
            </select>
            <br>
            <input type="text" name="" id="inputAlterarDescricao" placeholder="  Descrição..">
            <br>
            <input type="text" name="" id="inputAlterarPessoasAtividade" placeholder="  Pessoas...">
            <br>
            <select name="" id="alterarArmazenna" style="
            width: 165px;
            ">
                <option value="">-- ARMAZENNAS --</option>
                <option value="A-01">Armazenna 01</option>
                <option value="A-02">Armazenna 02</option>
                <option value="A-03">Armazenna 03</option>
                <option value="A-04">Armazenna 04</option>
                <option value="A-05">Armazenna 05</option>
                <option value="A-06">Armazenna 06</option>
            </select>
            <br>
            <input type="text" name="" id="alterarEmpresaAtividade" placeholder="  Empresa...">
            <br>
            <input type="date" name="" id="AlterarDataAtividade" style="width: 165px;">
            <br>
            <input type="text" name="" id="AlterarStatusAtividade" placeholder="  0 / 1">
            <br>

            <button 
            style="
            border-radius: 5px;
            width: 165px;
            margin-bottom: 10px;
            " id="funcionariomodificar" class="alterar" onclick="alterarAtividade()">ALTERAR</button>
            <br>

            <p style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
            font-size: 17px;
            display: none;
            " id="recadoAlterarAtividade">Sem o ID não conseguimos identificar...</p>
        </div>
        




        <div id="bloco">
            <p id="titulo-das-tabelas">
                Frequência
                <button onclick="limpar_frequencia()" style="background-color: red;" id="" class="">x</button>
            </p> 
            
            <div>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Função</th>
                    </tr>
                    <tbody id="tbodyfrequencia">
                        
                    </tbody>
                </table>
            </div>
            <br>
        </div>



        <div id="bloco">
            <p id="titulo-das-tabelas">Materiais</p>
            <div>tabela de materiais, feitas pelo técnico</div>
            <br>
        </div>


        <div id="bloco">
            <p id="titulo-das-tabelas">Registro</p>

            <div id="album">




                <!-- <div id="div-da-foto">
                    <a href="" download=""></a>
                    <div>
                        <p>
                            <button id="baixar" onclick="baixar(event)" onmouseover="baixarCima(event)"  onmouseout="baixarSaiu(event)">
                                <img  class="preto" src="/PROJETO FEED/static/img/baixar fundo branco.png" style="height: 20px; display: inline;" alt="baixar">
                                <img  class="branco" src="/PROJETO FEED/static/img/baixar fundo preto.png" style="height: 20px; display: none;"  alt="baixar">
                            </button>

                            <button id="excluir" onmouseover="excluirCima(event)" onmouseout="excluirSaiu(event)" onclick="excluir(event)">
                                <img id="imgExcluirPreto" src="/PROJETO FEED/static/img/excluir preto.png" style="height: 20px; display: inline;" alt="excluir">
                                <img id="imgExcluirBranco" src="/PROJETO FEED/static/img/excluir branco.png" style="height: 20px; display: none;"  alt="excluir">
                            </button>

                        </p>
                    </div>

                    <img id="div-da-foto-foto" src="/PROJETO FEED/static/img/download.jpg" alt="01_id_registro">
                    <p id="div-da-foto-id">ID: 01</p>
                    <p id="div-da-foto-legenda">Legenda: Foi feita a substituição das lampadas no armazenna 5 do bloco b do módulo 16 onde se encontra danificado uma lampada queimada por dentro onde deveriamos fazer a troca a mil anos atrás, já que não fez vai ficar assim</p>
                </div> -->




            </div>
            <br>
        </div>

    </div>

    

    <div>
        talvez a parte inferior
    </div>

    <script>
        
        const selecao = document.getElementById("ordenartabelafuncionario");
        const selecaoAtividade = document.getElementById('ordenartabelaatividades');

        let tbody = document.getElementById("tbodyfuncionarios");
        let tbodyAtividades = document.getElementById('tbodyatividades');
        let tbodyfrequencia = document.getElementById('tbodyfrequencia');
        let divAlbum = document.getElementById('album'); // onde vou colocar os itens (divFilhos)

        function excluirCima(event) {
            // alert('em cima');
            if (event.target.tagName == 'BUTTON') {
                let button = event.target;
                let imgs = button.querySelectorAll('img');
                let img01 = imgs[0];
                let img02 = imgs[1];

                img01.style.display = 'none';
                img02.style.display = 'inline';
            }
        }

        function excluirSaiu(event) {
            if (event.target.tagName == 'BUTTON') {
                let button = event.target;
                let imgs = button.querySelectorAll('img');
                let img01 = imgs[0];
                let img02 = imgs[1];

                img01.style.display = 'inline';
                img02.style.display = 'none';
            }
        }

        async function excluir(event) {
            
            if (event.target.tagName == 'BUTTON') {
                let button = event.target;
                let divFilho = button.parentElement.parentElement.parentElement;
                let divPai = divFilho.parentElement;
                let alt = (((divFilho.querySelectorAll('img'))[4]).alt);
                // divFilho.remove();

                const dados = {
                    'alt':alt
                }

                const resultado = await fetch('/', {
                    method: 'POST',
                    headers: {
                        'Content-Type':'application/json'
                    },
                    body: JSON.stringify(dados)
                });

                if (resultado.ok) {
                    alert('dados enviados');


                } else {
                    alert('ERRO AO ENVIAR');
                }


            } else if (event.target.tagName == 'IMG') {
                let img = event.target;
                let divFilho = img.parentElement.parentElement.parentElement.parentElement;
                let divPai = img.parentElement.parentElement.parentElement.parentElement.parentElement;
                // divFilho.remove();
                let alt = (((divFilho.querySelectorAll('img'))[4]).alt);
                alert('função excluir(evente)');
                
            }
            


        }


        function baixarCima(event) {
            // console.log(event.target);
            if (event.target.tagName == 'BUTTON') {
                let button = event.target;
                let imgs = button.querySelectorAll('img');
                // console.log(imgs);

                let img01 = imgs[0]; // preto
                let img02 = imgs[1]; // branco

                img01.style.display = 'none';
                img02.style.display = 'inline';
            }
        }

        function baixarSaiu(event) {
            if (event.target.tagName == 'BUTTON') {
                let button = event.target;
                let imgs = button.querySelectorAll('img');
                console.log(imgs);

                let img01 = imgs[0]; // preto
                let img02 = imgs[1]; // branco

                img01.style.display = 'inline';
                img02.style.display = 'none';
            }
        }

        function baixar(event) {
            
            if (event.target.tagName == 'BUTTON') {
                // alert('b');
                let div = event.target.parentElement.parentElement.parentElement.parentElement;
                let data = new Date();

                let dia = data.getDay();
                if (dia < 10) {
                    dia = `0${dia}`;
                }

                let mes = data.getMonth();
                if (mes < 10) {
                    mes = `0${mes}`;
                }

                let ano = data.getFullYear();

                let elementos = event.target.parentElement.parentElement.parentElement;
                let imgs = elementos.querySelectorAll('img');
                let img = imgs[4];
                let src = img.src; // eliminar visualmente
                let id_atividade = img.alt; // eliminar de verdade, do banco de dados;

                // visualmente
                let a = elementos.querySelector('a');
                a.href = src;
                a.download = `${dia}/${mes}/${ano}.jpeg`;
                a.click();
                

            } else if (event.target.tagName == 'IMG') {
                // alert('img');
                let data = new Date();
                let dia = data.getDay();
                if (dia < 10) {
                    dia = `0${dia}`;
                }

                let mes = data.getMonth();
                if (mes < 10) {
                    mes = `0${mes}`;
                }

                let ano = data.getFullYear();
                let div = event.target.parentElement.parentElement.parentElement.parentElement;
                let imgs = div.querySelectorAll('img');
                let img = imgs[4];
                let a = div.querySelector('a');
                a.href = img.src;
                a.download = `${dia}/${mes}/${ano}.jpeg`;
                a.click();
            } 

        }


        // let baixar = document.getElementById('baixar');
        // let imgBaixarBranco = document.getElementById('branco');
        // let imgbaixarPreto = document.getElementById('preto');
        // let imgBaixarBranco = document.getElementsByClassName('branco');
        // let imgBaixarPreto = document.getElementsByClassName('preto');

        // let excluir = document.getElementById('excluir');
        // let imgExcluirBranco = document.getElementById('imgExcluirBranco');
        // let imgExcluirPreto = document.getElementById('imgExcluirPreto');
        

        // baixar.addEventListener('click', function(event) {
        //     let a = div.querySelector('a');
        //     a.href = src.src;
        //     a.download = `${dia}/${mes}/${ano}.jpeg`;
        //     a.click();
        // })



        // excluir.addEventListener('mouseover', function() {
        //     imgExcluirPreto.style.display = 'none';
        //     imgExcluirBranco.style.display = 'inline';
        // })

        // excluir.addEventListener('mouseout', function() {
        //     imgExcluirPreto.style.display = 'inline';
        //     imgExcluirBranco.style.display = 'none';
        // })

        // excluir.addEventListener('click', function(event) {
        //     let div = event.target.parentElement.parentElement.parentElement.parentElement;
        //     let resultado = div.querySelectorAll('img');
        //     let img = resultado[4];
        
        //     console.log('alt: ',img.alt); // eu mando isso aqui pro banco de dados eliminar
        //     console.log('div: ',div);
        //     console.log('resultado: ',resultado);
        //     console.log('img: ', img);
        //     alert('excluir');
        // })


        
        selecaoAtividade.addEventListener('change', tabelaAtividades );
        selecao.addEventListener('change', tabelafuncionario );



        // divAlbum.addEventListener('mouseover', function(event) {
        //     console.log(' ');

        //     if (event.target.tagName === 'DIV' ) {
        //         console.log(' ');
        //         console.log('Toquei na imagem', event.target);
        //         console.log(' ');

        //         let div = event.target;
                
        //     }
        // })








        async function registro() {
            // pedir essas fotos
            // receber ordenado por atividade
            // e depois exibir

            const dados = {
                'msg':'atividades'
            }

            const resposta = await fetch('/registro_das_atividades_adm', {
                method: 'POST',
                headers: {
                    'Content-Type':'application/json'
                },
                body: JSON.stringify(dados)
            });

            if (resposta.ok) {
                const resultado = await resposta.json()
                // aqui faço as manipulações
                // alert('comunicação com a função REGISTRO ok');

                // console.log('resultado: '+resultado);
                console.log('Dados recebidos do backend:', resultado); // Esta forma exibe o array como um objeto expandível
                console.log('Número de itens recebidos:', resultado.length); // Esta linha vai te mostrar o número exato

                // divAlbum.innerHTML = '';
                // resultado.forEach(foto => {
                //     let divFilho = document.createElement('div');
                //     divFilho.id = 'div-da-foto';

                    // let img = document.createElement('img');
                    // img.id = 'div-da-foto-foto';
                    // img.src = foto['foto'];

                    // let id_foto = document.createElement('p');
                    // id_foto.id = 'div-da-foto-id';
                    // id_foto.textContent = `ID: ${foto["id_atividade"]}`;

                    // let id_legenda = document.createElement('p');
                    // id_legenda.id = 'div-da-foto-legenda';
                    // id_legenda.textContent = `${foto["legenda"]}`

                //     divFilho.appendChild(img);
                //     divFilho.appendChild(id_foto);
                //     divFilho.appendChild(id_legenda);
                //     divAlbum.appendChild(divFilho);

                divAlbum.innerHTML = '';
                resultado.forEach(foto => {
                    let divFilho = document.createElement('div');
                    divFilho.id = 'div-da-foto';

                    let a = document.createElement('a');
                    a.href = '';
                    a.download = '';
                    divFilho.appendChild(a);

                    let divDosBotoes = document.createElement('div');
                    let pDosBotoes = document.createElement('p');



                    let botaoBaixar = document.createElement('button');
                    botaoBaixar.id = 'baixar';
                    botaoBaixar.setAttribute('onclick', 'baixar(event)');
                    botaoBaixar.setAttribute('onmouseover', 'baixarCima(event)');
                    botaoBaixar.setAttribute('onmouseout', 'baixarSaiu(event)');
                    
                    let imgPreto = document.createElement('img');
                    imgPreto.classList.add('preto');
                    imgPreto.src = '/PROJETO FEED/static/img/baixar fundo branco.png'; // foto na pasta aqui mesmo
                    imgPreto.style.height = '20px';
                    imgPreto.style.display = 'inline';
                    // imgPreto.alt = ''; // o identificador desse registro no banco de dados;

                    let imgBranco = document.createElement('img');
                    imgBranco.classList.add('branco');
                    imgBranco.src = '/PROJETO FEED/static/img/baixar fundo preto.png';
                    imgBranco.style.height = '20px';
                    imgBranco.style.display = 'none';
                    // imgBranco.alt = '';
                    botaoBaixar.appendChild(imgPreto);
                    botaoBaixar.appendChild(imgBranco);


                    let botaoExcluir = document.createElement('button');
                    botaoExcluir.id = 'excluir';
                    botaoExcluir.setAttribute('onclick', 'excluir(event)');
                    botaoExcluir.setAttribute('onmouseover', 'excluirCima(event)');
                    botaoExcluir.setAttribute('onmouseout', 'excluirSaiu(event)');

                    let imgExcluirPreto = document.createElement('img');
                    imgExcluirPreto.id = 'imgExcluirPreto';
                    imgExcluirPreto.src = '/PROJETO FEED/static/img/excluir preto.png';
                    imgExcluirPreto.style.height = '20px';
                    imgExcluirPreto.style.display = 'inline';
                    // imgExcluirPreto.alt = '';

                    let imgExcluirBranco = document.createElement('img');
                    imgExcluirBranco.id = 'imgExcluirBranco';
                    imgExcluirBranco.src = '/PROJETO FEED/static/img/excluir branco.png';
                    imgExcluirBranco.style.height = '20px';
                    imgExcluirBranco.style.display = 'none';
                    // imgExcluirBranco.alt = '';
                    botaoExcluir.appendChild(imgExcluirPreto);
                    botaoExcluir.appendChild(imgExcluirBranco);
                    pDosBotoes.appendChild(botaoBaixar);
                    pDosBotoes.appendChild(botaoExcluir);
                    divDosBotoes.appendChild(pDosBotoes);
                    divFilho.appendChild(divDosBotoes);


                    let imgPrincipal = document.createElement('img');
                    imgPrincipal.id = 'div-da-foto-foto';
                    imgPrincipal.src = foto['foto'];
                    imgPrincipal.alt = foto['id_registro']; // a definir
                    divFilho.appendChild(imgPrincipal);

                    let id_foto = document.createElement('p');
                    id_foto.id = 'div-da-foto-id';
                    id_foto.textContent = `ID: ${foto["id_atividade"]}`;
                    divFilho.appendChild(id_foto);

                    let id_legenda = document.createElement('p');
                    id_legenda.id = 'div-da-foto-legenda';
                    id_legenda.textContent = `${foto["legenda"]}`;
                    divFilho.appendChild(id_legenda);
                    divAlbum.appendChild(divFilho);

                    // botaoBaixar.setAttribute('onclick', 'baixar(event)');
                });
                // });



            } else {
                // alert('erro com função REGISTRAR SERVIDOR');
                console.log('erro ao exibir as atividades - servidor');
            }

            // depois dar opção para excluir, se não vai acumular muitas fotos
        }


        async function limpar_frequencia() {
            const dados = {
                'comando':'eliminar'
            }

            
            const resposta = await fetch('/limparFrequencia', {
                method: 'POST',
                headers: {
                    'Content-Type':'application/json'
                },
                body: JSON.stringify(dados)
            });

            if (resposta.ok) {
                // alert('comunicação com a eliminação OK');
                const resultado = await resposta.json()
                // alert('resultado '+resultado.msg);
                console.log('resultado '+resultado);
                //fazer a manipulação RESULTADO


            } else {
                alert('Comunicação falhou..695');
            }



        }

        async function tabelafrequencia() {
            const pedido = {
                'msg':'mostrar_a_tabela_frequência'
            }

            const resposta = await fetch('/exibir_tabela_frequencia', {
                method: 'POST', 
                headers: {
                    'Content-Type':'application/json'
                },
                body: JSON.stringify(pedido)
            });

            if (resposta.ok) {
                // alert('comunicação para exibir frequência ok');
                // alert('comunicação ok');

                const informacoes = await resposta.json()
                console.log('informações: '+informacoes);
                
                tbodyfrequencia.innerHTML = '';
                informacoes.forEach(registro => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                    <td>${registro.id}</td>
                    <td>${registro.nome}</td>
                    <td>${registro.data}</td>
                    <td>${registro.tempo}</td>
                    <td>${registro.funcao}</td>
                    `
                    tbodyfrequencia.appendChild(row)
                });


            } else {
                // alert('erro ao se comunicar com o servidor, exibir frequência');
                console.log('erro no servidor, adm.html - 743');
            }
            
        }
        setInterval(tabelafrequencia, 3000);
        setInterval(registro, 3000);


        async function tabelaAtividades() {
        
            const orde = {
                ordenar_por: selecaoAtividade.value
            }

            const resposta = await fetch('/ordenarAtividades', {
                method: 'POST',
                headers: {
                    'Content-Type':'application/json'
                },
                body: JSON.stringify(orde)
            });

            if (resposta.ok) {
                const atividades = await resposta.json();
                console.log('atividade'+atividades);

                tbodyAtividades.innerHTML = '';
                atividades.forEach(atividade => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                    <td>${atividade.id_atividade}</td>
                    <td>${atividade.tipo_de_servico}</td>
                    <td>${atividade.descricao}</td>
                    <td>${atividade.quem}</td>
                    <td>${atividade.armazenna}</td>
                    <td>${atividade.empresa}</td>
                    <td>${atividade.data}</td>
                    <td id="n${atividade.status}">${atividade.status}</td>
                    `;
                    // <td id="n1">1</td>
                    tbodyAtividades.appendChild(row)
                });

            } else {
                console.log('Erro ao exibir as atividades (servidor.LP- 655)');
            }
        }
            

        async function tabelafuncionario() {
            // montar o pacote
            const orde = {
                ordenar_por: selecao.value
            }
            
            const resposta = await fetch('/ordenarfuncionarios', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(orde)
            });

            if (resposta.ok){
                // alert("RECEBEMOS dados");
                const funcionarios = await resposta.json();
                console.log(funcionarios);

                tbody.innerHTML = '';
                funcionarios.forEach(funcionario => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                    <td>${funcionario.id}</td>
                    <td>${funcionario.nome}</td>
                    <td>${funcionario.senha}</td>
                    <td>${funcionario.cpf}</td>
                    <td>${funcionario.funcao}</td>
                    `;
                    tbody.appendChild(row);
                });
                

            } else {
                // alert("ERRO AO RECEBER A LISTA...(servidor)");
                console.log("ERRO AO RECEBER A LISTA..(SERVIDOR)");
            }
        }


        function adicionarFuncionario() {
            let aba = document.getElementById("aba-funcionario");
            let aba_excluirFuncionario = document.getElementById("aba-excluir-funcionario");
            let aba_adicionar_funcionario = document.getElementById("aba-funcionario");
            let aba_modificarfucionario = document.getElementById("aba-alterar-funcionario");
            
            if (aba.style.display == 'none') {
                aba.style.display = 'block';
                aba_excluirFuncionario.style.display = 'none';
                aba_modificarfucionario.style.display = 'none';
            } else {
                aba.style.display = 'none';
            }
        }

        async function ok() {
            let inputnome = document.getElementById("inputnome");
            let inputsenha = document.getElementById("inputsenha");
            let inputcpf = document.getElementById("inputcpf");
            let inputfuncao = document.getElementById("inputfuncao");
            let campovazio = document.getElementById("campovazio");
            let adicionar = document.getElementById("funcionario");

            if (inputnome.value == '' || inputsenha.value == '' || inputcpf.value == '' || inputfuncao.value == '') {
                campovazio.style.display = 'block';
            } else {
                campovazio.style.display = 'none';
                let nome = inputnome.value;
                let senha = inputsenha.value;
                let cpf = inputcpf.value;
                let funcao = inputfuncao.value;
                // alert("Nome:"+nome+" Senha:"+senha+" CPF:"+cpf+" Função:"+funcao);
                inputnome.value = '';
                inputsenha.value = '';
                inputcpf.value = '';
                inputfuncao.value = '';


                const dados = {
                    nome: nome,
                    senhaa: senha,
                    cpf: cpf,
                    funcao: funcao
                }
        
                const resposta = await fetch('/cadastrar_funcionario', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(dados)
                });

                if (resposta.ok) {

                    const resultado = await resposta.json();
                    // aqui posso consultar o objeto (resultado)
                    console.log(resultado);
                    // alert("Resposta: "+resposta);
                    // alert("mensagem = "+resposta.msg);


                } else {
                    alert("erro ao Cadastrar..(servidor-762)");
                }

            }
            await tabelafuncionario();
        }



        function adicionaratividades(){
            let aba_adicionar_atividades = document.getElementById("aba-atividades");
            let aba_excluir_atividades = document.getElementById("aba-excluir-atividade");
            let aba_alterar_atividades = document.getElementById("aba-alterar-atividade");
            

            
            if (aba_adicionar_atividades.style.display == 'none') {
                aba_adicionar_atividades.style.display = 'block';
                aba_excluir_atividades.style.display = 'none';
                aba_alterar_atividades.style.display = 'none';
            } else {
                aba_adicionar_atividades.style.display = 'none';
            }

        }

        async function dados_da_atividade() {
            let tipoDeServico = document.getElementById("selectTipodeServico");
            let descricao = document.getElementById("inputdescricaoDeAtividade");
            let quem = document.getElementById("inputQuem");
            let armazenna = document.getElementById("selectArmazenna?");
            let empresa = document.getElementById("inputEmpresa");
            let data = document.getElementById("inputDATA");
            let recado = document.getElementById("campovazioAtividade");

            
            if (tipoDeServico.value == '' || descricao.value == '' || quem.value == '' || armazenna.value == '' || empresa.value == '' || data.value == '') {
                recado.style.display = 'block';
            } else {
                recado.style.display = 'none';

                const dados = {
                    tipoDeservico: tipoDeServico.value,
                    descricao: descricao.value,
                    quem: quem.value,
                    armazenna: armazenna.value,
                    empresa: empresa.value,
                    data: data.value
                }

                const resposta = await fetch('/adicionarAtividade', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(dados)
                });

                if (resposta.ok) {
                    // alert("atividade enviada...");

                    const resultado = await resposta.json();
                // manipulaçãõ de dados
                } else {
                    alert("ERRO AO ADICIONAR A ATIVIDADE (servidor-826)...")
                }
                // ATUALIZAR A TABELA APÓS ADICIONAR / EXCLUIR / ALTERAR
            }
            tipoDeServico.value = '';
            descricao.value = '';
            quem.value = '';
            armazenna.value = '';
            empresa.value = '';
            data.value = '';
            await tabelaAtividades();

        }


        function excluiratividades(){
            let aba_adicionar_atividades = document.getElementById("aba-atividades");
            let aba_excluir_atividades = document.getElementById("aba-excluir-atividade");
            let aba_alterar_atividades = document.getElementById("aba-alterar-atividade");

            if (aba_excluir_atividades.style.display == 'none') {
                aba_excluir_atividades.style.display = 'block';
                aba_adicionar_atividades.style.display = 'none';
                aba_alterar_atividades.style.display = 'none';
            } else {
                aba_excluir_atividades.style.display = 'none';
            }
        }

        async function excluindoAtividade() {
            let inputId = document.getElementById('inputIdAtividade');
            let recado = document.getElementById('recado_excluir_atividade');

        
            if (inputId.value == '') {
                recado.style.display = 'block';
            } else {
                recado.style.display = 'none';

            
                const dados = {
                    id_atividade: inputId.value
                }


                const resposta = await fetch('/excluiratividade', {
                    method: 'POST',
                    headers: {
                        'Content-Type':'application/json'
                    },
                    body: JSON.stringify(dados)
                });


                if (resposta.ok) {
                    // ok deu certo
                    const resultado = await resposta.json()
                    // aqui faço a manipulação de dados;

                } else {
                    alert("ERRO AO EXCLUIR A ATIVIDADE (servidor-886)...");
                }
                inputId.value = '';
                // atualizar a tabela que aparece no site

            }
            await tabelaAtividades();
        }

        function alteraratividades() {
            let aba_adicionar_atividades = document.getElementById("aba-atividades");
            let aba_excluir_atividades = document.getElementById("aba-excluir-atividade");
            let aba_alterar_atividades = document.getElementById("aba-alterar-atividade");

            if (aba_alterar_atividades.style.display == 'none') {
                aba_alterar_atividades.style.display = 'block';
                aba_adicionar_atividades.style.display = 'none';
                aba_excluir_atividades.style.display = 'none';
            } else {
                aba_alterar_atividades.style.display = 'none';
            }


        }


        async function alterarAtividade() {
            let id = document.getElementById('inputAlterarID');
            let servico = document.getElementById('alterarTipodeservico');
            let descricao = document.getElementById('inputAlterarDescricao');
            let pessoas = document.getElementById('inputAlterarPessoasAtividade');
            let armazenna = document.getElementById('alterarArmazenna');
            let empresa = document.getElementById('alterarEmpresaAtividade');
            let data = document.getElementById('AlterarDataAtividade');
            let status = document.getElementById('AlterarStatusAtividade');
            let recado = document.getElementById('recadoAlterarAtividade');

            if (id.value == '') {
                recado.style.display = 'block';
            } else {
                recado.style.display = 'none';

                const dados = {
                    id: id.value,
                    servico: servico.value,
                    descricao: descricao.value,
                    pessoas: pessoas.value,
                    armazenna: armazenna.value,
                    empresa:empresa.value,
                    data:data.value,
                    status:status.value
                }

                const resposta = await fetch('/alterarAtividade', {
                    method: 'POST',
                    headers: {
                        'Content-Type':'application/json'
                    },
                    body: JSON.stringify(dados)
                });

                if (resposta.ok) {
                    // deu certo

                    const resultado = await resposta.json()
                    // aqui faço a manipulação
                } else {
                    // deu errado
                    // posso colocar um recado aqui se eu quiser talvez
                    alert("ERRO AO ALTERAR A ATIVIDADE (servidor-955)....");
                }
            }

            id.value = '';
            servico.value = '';
            descricao.value = '';
            pessoas.value = '';
            armazenna.value = '';
            empresa.value = '';
            data.value = '';
            status.value = '';
            await tabelaAtividades();
            // atualizar a tabela que aparece para ele
        }
        







        function excluirFuncionario(){
            let aba_excluirFuncionario = document.getElementById("aba-excluir-funcionario");
            let aba_adicionar_funcionario = document.getElementById("aba-funcionario");
            let aba_modificarfucionario = document.getElementById("aba-alterar-funcionario");
            
            

            if (aba_excluirFuncionario.style.display == 'none') {
                aba_excluirFuncionario.style.display = 'block';
                aba_adicionar_funcionario.style.display = 'none';
                aba_modificarfucionario.style.display = 'none';
            } else {
                aba_excluirFuncionario.style.display = 'none';
            }
        
        }

        async function botaoexcluirFuncionario() {
            let inputid = document.getElementById("inputid");
            let recado = document.getElementById("campovazioid");
            

            if (inputid.value == '') {
                recado.style.display = 'block';
            } else {
                recado.style.display = 'none';

                const dados = {
                    id: inputid.value
                }


                const resposta = await fetch('/excluirFuncionario', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(dados)
                });


                if (resposta.ok) {
                    const resultado = await resposta.json();

                    // aqui faço a manipulação
                    if (resultado.msg == '0') {
                        // alert("USUÁRIO NÃO ENCONTRADO/ DADOS INVÁLIDOS");
                        // alert('Posso montar um recado, avisando que deu errado.....');
                    } else {
                        console.log("USUÁRIO DELETADO....");
                    }

                } else {
                    alert("Erro ao tentar excluir...(servidor-1033)");
                }

                inputid.value = '';
            }
            await tabelafuncionario();
        }




        function alterarRegistro() {
            let aba_modificarfucionario = document.getElementById("aba-alterar-funcionario");
            let aba_adicionar_funcionario = document.getElementById("aba-funcionario");
            let aba_excluirFuncionario = document.getElementById("aba-excluir-funcionario");
            

            if (aba_modificarfucionario.style.display == 'none') {
                aba_modificarfucionario.style.display = 'block';
                aba_adicionar_funcionario.style.display = 'none';
                aba_excluirFuncionario.style.display = 'none';
            } else {
                aba_modificarfucionario.style.display = 'none';
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            console.log("oiii-1060");
            // aqui vai ser onde vou carregar todas as tabelas, na hora que 
            // entrar nessa tela, como no exemplo abaixo onde carrego uma tablea
            tabelafuncionario();
            tabelaAtividades();
        });

        async function alterar() {
            let aviso = document.getElementById("campovaziomodificar");
            let inputid = document.getElementById("inputidmodificar");
            let id = inputid.value;

            let inputnome = document.getElementById("inputnomemodificar");
            let nome = inputnome.value;

            let inputsenha = document.getElementById("inputsenhamodificar");
            let senha = inputsenha.value;

            let inputcpf = document.getElementById("inputcpfmodificar");
            let cpf = inputcpf.value;

            let inputfuncao = document.getElementById("inputfuncaomodificar");
            let funcao = inputfuncao.value;

            if (id == '' ) {
                aviso.style.display = 'block';
            } else {
                aviso.style.display = 'none';

                const dados = {
                    id: id,
                    nome: nome,
                    senha: senha,
                    cpf: cpf,
                    funcao: funcao
                }

                const resposta = await fetch('/alterarfuncionario', {
                    method: 'POST',
                    headers: {
                        'Content-Type':'application/json'
                    },
                    body: JSON.stringify(dados)
                });

                if (resposta.ok) {
                    // aqui eu poderia fazer qualquer coisa com o return, mas nem precisa


                } else {
                    alert("ESSE ID NÃO EXISTI (servidor-1110)");
                }

            // limpar o formulário; 
            inputnome.value = '';
            inputid.value = '';
            inputsenha.value = '';
            inputcpf.value = '';
            inputfuncao.value = '';
            await tabelafuncionario();

        }

    }
    </script>
</body>
</html>